weather_twitter_sentiment_map.json
[{"id":"84ac3f6d.bc8ae","type":"worldmap","z":"8c44b64f.0ed9c8","name":"","lat":"","lon":"","zoom":"","cluster":"","maxage":"5","x":757.25,"y":199,"wires":[]},{"id":"8cd4bfab.45fd7","type":"inject","z":"8c44b64f.0ed9c8","name":"","topic":"","payload":"krakova","payloadType":"str","repeat":"","crontab":"","once":false,"x":107,"y":130,"wires":[["dae37447.619bb8","9ff8e039.01a93"]]},{"id":"dae37447.619bb8","type":"function","z":"8c44b64f.0ed9c8","name":"Add person to map","func":"var thing = {\n    name:\"Jason Isaacs\", \n    lat:51, \n    lon:-1.45,\n    icon:\"locate\",\n    iconColor:\"blue\",\n    extrainfo:\"Hello to Jason Isaacs\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":390.5,"y":108.75,"wires":[["84ac3f6d.bc8ae","91e1ccb8.58853"]]},{"id":"91e1ccb8.58853","type":"debug","z":"8c44b64f.0ed9c8","name":"","active":true,"console":"false","complete":"false","x":522.5,"y":223,"wires":[]},{"id":"c5458e24.055ae","type":"http request","z":"8c44b64f.0ed9c8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":406.75,"y":283.75,"wires":[["6f908b5a.d94344","dc2a10e.87ef9f"]]},{"id":"9ff8e039.01a93","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"msg.url= \"http://nominatim.openstreetmap.org/search?format=json&q=\"+msg.payload+\"&zoom=18&addressdetails=1\"; \nreturn msg;","outputs":1,"noerr":0,"x":290.75,"y":200.75,"wires":[["c5458e24.055ae"]]},{"id":"6f908b5a.d94344","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"\nvar input = JSON.parse(msg.payload);\nvar lat = input[0].lat;\nvar lng = input[0].lon;\nvar name = input[0].address.city;\nmsg.payload = {\n    name: name, \n    lat: lat, \n    lon:lng,\n    icon:\"hostile\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":595,"y":264,"wires":[["84ac3f6d.bc8ae","c249f9b0.0b9498"]]},{"id":"e283aa85.92deb8","type":"twitter in","z":"8c44b64f.0ed9c8","twitter":"","tags":"snowing,powder,powderalert","user":"false","name":"","topic":"tweets","inputs":0,"x":69,"y":207,"wires":[["33c25877.21a278"]]},{"id":"b4d063de.032d","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"msg.payload=msg.tweet.user.location;\nreturn msg;","outputs":1,"noerr":0,"x":282,"y":359,"wires":[["9ff8e039.01a93"]]},{"id":"33c25877.21a278","type":"function","z":"8c44b64f.0ed9c8","name":"1 sec delimiter","func":"var interval = (1000*5); // minimum interval between messages (ms)\ncontext.lastTime = context.lastTime || 0;\n\nvar now = Date.now();\n\nif (now-context.lastTime < interval) {\n  return null;\n} \nelse\n{\n   context.lastTime = now;\n  return msg;\n}\n","outputs":1,"noerr":0,"x":114,"y":288,"wires":[["b4d063de.032d","330e6754.84feb8"]]},{"id":"64421c4a.7597b4","type":"openweathermap","z":"8c44b64f.0ed9c8","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":401,"y":414,"wires":[["9304138f.55f29"]]},{"id":"dc2a10e.87ef9f","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"var input = JSON.parse(msg.payload);\nvar lat = input[0].lat;\nvar lng = input[0].lon;\nmsg.location = {\n    lat: lat, \n    lon:lng\n};\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":314,"wires":[["64421c4a.7597b4"]]},{"id":"9304138f.55f29","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"var detailWeather = msg.payload.detail;\nvar weatherTemp = msg.payload.tempc;\nglobal.set(\"detailWeather\", detailWeather);\nglobal.set(\"temp\", weatherTemp);\nreturn msg;\n\n//msg.payload={weather:msg.payload.detail};\n//return msg;","outputs":1,"noerr":0,"x":550,"y":380,"wires":[["c249f9b0.0b9498"]]},{"id":"330e6754.84feb8","type":"sentiment","z":"8c44b64f.0ed9c8","name":"","x":156,"y":423,"wires":[["5a888dff.1c2134"]]},{"id":"5a888dff.1c2134","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"var sentimentScore = msg.sentiment.score;\nglobal.set(\"sentimentScore\", sentimentScore);\nreturn msg;\n\n\n//msg.payload = msg.sentiment.score;\n//return msg;","outputs":1,"noerr":0,"x":450,"y":492,"wires":[["c249f9b0.0b9498"]]},{"id":"c249f9b0.0b9498","type":"function","z":"8c44b64f.0ed9c8","name":"","func":"var name = msg.payload.name;\nvar lat = msg.payload.lat;\nvar lon = msg.payload.lon;\nvar sentimentScore = global.get(\"sentimentScore\");\nvar detailWeather = global.get(\"detailWeather\");\nvar temp = global.get(\"temp\");\n\nmsg.payload = { \n            name: name, \n            lat:lat, \n            lon:lon, \n            sentimentScore:sentimentScore,\n            weather: detailWeather,\n            temp:temp\n        };\nreturn msg;","outputs":1,"noerr":0,"x":761,"y":365,"wires":[["54c04c5c.c0c1b4","9cca3e8e.822c7"]]},{"id":"54c04c5c.c0c1b4","type":"debug","z":"8c44b64f.0ed9c8","name":"","active":true,"console":"false","complete":"false","x":748,"y":464,"wires":[]},{"id":"9cca3e8e.822c7","type":"cloudant out","z":"8c44b64f.0ed9c8","name":"","cloudant":"","database":"sentimentweather","service":"antitesti-cloudantNoSQLDB","payonly":true,"operation":"insert","x":856,"y":295,"wires":[]}]